# Sigo el libro página 47

In [19]:
import pandas as pd
import requests
import json

token = '2RG2NEF3IPXMIPX3'
token2= 'ZOW97SMSE5U3FPYU'

# definición de variables

function = 'TIME_SERIES_INTRADAY' 
symbol = 'AAPL'
interval = '15min'

# concatenar el link

urlBase = 'https://www.alphavantage.co/query'
url = urlBase+ '?function=' + function
url += '&symbol=' + str(symbol)
url += '&interval=' + interval
url += '&outputsize=compact'
url += '&apikey=' + token

print(url)
# print('https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo')
# acá hago el llamado/request

# r = requests.get(url)
# r = requests.get(url)
# print(r.json())

data = r.json()['Time Series (15min)'] 
dataDF = pd.DataFrame.from_dict(data, orient='index')
dataDF

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AAPL&interval=15min&outputsize=compact&apikey=2RG2NEF3IPXMIPX3

                      1. open   2. high    3. low  4. close 5. volume
2021-09-14 17:30:00  136.2000  136.2000  136.2000  136.2000       102
2021-09-14 17:15:00  136.4000  136.4000  136.4000  136.4000       140
2021-09-14 17:00:00  136.4900  136.5100  136.4000  136.4000      2423
2021-09-14 16:45:00  136.2500  136.2500  136.2500  136.2500       250
2021-09-14 16:30:00  136.2000  136.5600  136.2000  136.5600      1533
...                       ...       ...       ...       ...       ...
2021-09-10 12:00:00  137.6316  137.7500  137.5200  137.7500     83222
2021-09-10 11:45:00  137.6400  137.8052  137.6100  137.6261     85221
2021-09-10 11:30:00  137.7200  137.7600  137.5850  137.6400     92843
2021-09-10 11:15:00  137.8000  137.9000  137.6400  137.6900     74470
2021-09-10 11:00:00  137.6650  137.9500  137.5700  137.8100    127102

[100 rows x 5 columns]